jupyterlab==4.2.4
langchain==0.2.11
langchain-openai==0.1.17
python-dotenv==1.0.1
langchain-community==0.2.10
pypdf==4.3.1
wikipedia==1.4.0
langchain-chroma==0.1.2
faiss-cpu==1.8.0.post1
bs4==0.0.2
unstructured==0.15.0
langgraph
pyaudio
notebook
numpy
pandas
scikit-learn
SpeechRecognition==3.14.1
gtts
pygame
rank_bm25
xlrd==2.0.1
openpyxl==3.1.5
cx_Oracle
langchainhub
mediapipe
opencv-python
transformers
torch
